
RewriteEngine on
RewriteBase /

RewriteRule ^$ views/index.php [L,NC]
RewriteRule ^article$ views/article.php [L,NC]
RewriteRule ^admin$ views/admin.php [L,NC]
RewriteRule ^admin$ views/admin.php [L,NC]
RewriteRule ^login$ views/login.php [L,NC]
RewriteRule ^logout$ views/logout.php [L,NC]
